.warehouse-form-card {
    border-radius:18px;
    background:white;
}

.input-group-text {
    background:#198754;
    color:white;
    border:none;

}

.form-control {
    border-radius:0 8px 8px 0;
}

.input-group {
    border-radius:10px;
    overflow:hidden;
}

.btn {

    border-radius:10px;

}